<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asia</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='asia.css') }}">
</head>
<body>
    <div class="header">
<!--        <div class="home-icon">-->
<!--            <a href="/">&#8962; Home</a>-->
<!--        </div>-->
        <h1>Asia</h1>
    </div>
    <div style="position: relative; font-size: 24px;">{{ remaining }}/{{ total }}</div>
    <div class="content">
        <div class="image-box">
            <img src="{{ url_for('static', filename='images/' + asia_flag + '.png') }}" alt="Quiz Image">
        </div>


        <div class="options-container">
            <!-- Form for each button -->
            <form action="process_answer" method="POST" style="display:inline;">
                <button class="option-button" type="submit" name="answer" value="Option1">{{Option1}}</button>
            </form><br>
            <form action="process_answer" method="POST" style="display:inline;">
                <button class="option-button" type="submit" name="answer" value="Option2">{{Option2}}</button>
            </form><br>
            <form action="process_answer" method="POST" style="display:inline;">
                <button class="option-button" type="submit" name="answer" value="Option3">{{Option3}}</button>
            </form>

        </div>
    </div>
</body>
</html>
