<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flag Quiz</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Flag Quiz</h1>
    </div>

    <div class="button-container">
        <form action="/initialize" method="post" style="display: inline;">
            <button type="submit" class="continent-button" name="continent" value="africa">Africa</button>
        </form>
        <form action="/asia" method="post" style="display: inline;">
            <button type="submit" class="continent-button" name="continent" value="asia">Asia</button>
        </form>
        <form action="/initialize" method="post" style="display: inline;">
            <button type="submit" class="continent-button" name="continent" value="europe">Europe</button>
        </form>
        <form action="/initialize" method="post" style="display: inline;">
            <button type="submit" class="continent-button" name="continent" value="northAmerica">North America</button>
        </form>
        <form action="/initialize" method="post" style="display: inline;">
            <button type="submit" class="continent-button" name="continent" value="southAmerica">South America</button>
        </form>
        <form action="/initialize" method="post" style="display: inline;">
            <button type="submit" class="continent-button" name="continent" value="oceania">Oceania</button>
        </form>
    </div>

</body>
</html>
