
.top-bar {
  background-color: #071c2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
#  justify-content: space-between; /* Align buttons to the right */
  align-items: center;
  color: #fff;
}

.top-bar h1 {
  margin: 0;
}

.menu-item {
        flex: 1; /* Allows elements to take space */
        text-align: center;
    }

    .menu-item:first-child {
        text-align: left;
    }

    .menu-item:last-child {
        text-align: right;
    }

/* .menu-item:first-child{margin-right: auto;} */

.logout, .home {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 20px; /* Add spacing between buttons */
  background: none;
}

.logout a, .home a {
color: #fff;
font-family: 'Helvetica';
font-size: 20px;

}

.logout:hover, .home:hover{
background-color: #0d3964;
}


body { font-family: Arial, sans-serif; margin: 0px; padding: 2px; }
table { width: 100%; border-collapse: collapse; margin-top: 20px; }
th, td { border: 1px solid #ddd; padding: 10px; text-align: left; }
th { background-color: #f4f4f4; }
.correct { background-color: #acf2bf;}
.incorrect { background-color: #f2acae;}


.toggle-content {
    display: none;
    margin-top: 5px;

}
.toggle-btn {
    cursor: pointer;
    border: none;
    font-size: 16px;
    width: 100%;
    text-align: left;
    display: block; /* Makes button take full width */
    margin-bottom: 1px; /* Adds a 1px gap between buttons */
    padding: 5px 10px; /* Adjust padding for better spacing */
}
.quiz-image {

    height: 50px;  /* Maintains aspect ratio */
    max-width: 100%; /* Ensures responsiveness */
    object-fit: cover; /* Ensures images maintain aspect ratio */
}