        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        h1 {
            font-size: 3em;
            margin-top: 50px;
            color: #333;
        }

        .button-container {
            margin-top: 20px;
        }

        .continent-button {
            display: inline-block;
            margin: 0 10px;
            padding: 15px 30px;
            font-size: 1em;
            color: white;
            background-color: #005434;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: box-shadow 0.3s ease, background-color 0.3s ease;
            text-decoration: none;
        }

        .continent-button:hover {
            box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Cast shadow on hover */
        }