<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Card</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='score_card.css') }}">
</head>
<body>

        <div class="header">
<!--        Display the Home Icon-->
            <div class="home-icon">
                <a href="/" class="btn">Home</a>
            </div>
<!--        Display the selected continent name-->
            <h1>{{continent}}</h1>
        </div>


<!--        Display the quiz results-->
    <div class="container">
        <img src="{{ url_for('static', filename='images/continent/' + continent_image + '.jpg') }}" alt="Quiz Image">
        <p>{{continent}}: {{ score }}/{{ total }}</p>
    </div>
</body>
</html>
