<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form action="/get_pw" method="post">
            <label for="name-input">Enter your name:</label>
            <input type="text" id="name-input" name="name" placeholder="Name" autofocus="autofocus">
            <br><br>
            {% if username|length > 0 %}
                <label for="username">Is this your username?</label>
                <input type="text" name="username" id="username" value="{{username}}">
                <br><br>
                <label>If yes, click to get your password</label>
<!--                <input type="text" name="username" id="email">-->
<!--                <br><br>-->
            {% endif %}

            <button type="submit">Get my details</button>
        </form>
            {% if pwd|length > 0 %}
                {{pwd}}
            {% endif %}
    </div>
</body>
</html>