<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css') }}">
<!--    <link rel="icon" href="{{ url_for('static', filename='login.png') }}" type="image/png">-->
</head>
<body>

<div class="body-container">
<h1>Welcome to Flag Quiz</h1>
    <div class="top-bar">

        <div class="login">
        <h2 style="font-family: 'Helvetica'; text-align: center;">Login</h2>
            <div class="form-container">
            <form action="/login" method="post">
<!--                <label for="username"><b><h3 style="font-family: 'Helvetica';">Username</h3></b></label>-->
                <input type="text" id="username" name="username" placeholder="Username" autofocus="autofocus" required><br>
<!--                <label for="password"><b><h3 style="font-family: 'Helvetica';">Password</h3></b></label>-->
                <input type="password" id="password" name="password" placeholder="Password" required><br>
                <a href="/forgot-password" class="forgot-password" style="margin-top:0;">Forgot Password</a> <!-- Add this below the password input -->
<!--    Display error message-->
                {% with messages = get_flashed_messages() %}
                  {% if messages %}
                    <div>
                      {% for message in messages %}
                        <p>{{ message }}</p>
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endwith %}
<!--                End of error message-->

                <h2 class="create-account">Create an account</h2> <!-- Add this above the Login heading -->

                <button type="submit">Login</button>
            </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>