.top-bar {
  background-color: #071c2e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 5px;
  display: flex;
  align-items: center;
  color: #fff;
  width: 100%;
}

.top-bar-button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
#  margin-left: 20px; /* Add spacing between buttons */
  background: none;
}

.top-bar-button a {
color: #fff;
font-family: 'Helvetica';
font-size: 20px;

}

.top-bar-button:hover{
background-color: #0d3964;
}

.menu-item:first-child{margin-right: auto;}

.title-bar{
color:#000;
background-color: #fff;
margin: 0px;
padding: 15px;
text-align: center;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px auto; /* Center body-container and add spacing */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px; /* Adjust width */
}

.body-container .image-box {
    position: relative;
    width: 100%;
    height: auto;
}

.body-container .image-box img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.body-container .image-box div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
.result {
    display: flex; /* Use flexbox for alignment */
    flex-wrap: wrap; /* Allow items to wrap if necessary */
    align-items: center; /* Vertically center the items in the row */
    justify-content: flex-start; /* Align items to the left */
    gap: 20px; /* Add spacing between items */
    margin-bottom: 20px; /* Add space between rows */
}

.result .result-image {
    width: 12vw; /* Adjust the width of the image container */
    height: 100px; /* Adjust the height of the image container */
    border-radius: 5px; /* Add rounded corners */
    object-fit: cover; /* Ensure the image fits properly */
    display: flex; /* Use flexbox to center the image */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.result .result-image img {
    width: 100%; /* Ensure the image fills the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px;
}

.result div {
    text-align: left; /* Align text to the left */
    font-size: 16px; /* Adjust font size */
    line-height: 1.4; /* Improve readability */
    max-width: 200px; /* Prevent text from stretching too wide */
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center text vertically */
}
