<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter Details</title>
</head>
<style>

.details-container {
text-align: center;
}

  .to-home{
  background-color: #42aaf5;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  text-align: right;
  cursor: pointer;
  }
    .navbar{
    background-color: #42aaf5;
    }
</style>
<body>
<div class="navbar">
    <button class="to-home" onclick="document.location='/'">Home</button>
</div>


<div class="details-container">
<form action="write" method="post" id="myForm">

    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name" autofocus="autofocus" required /><br><br>

    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age" required /><br><br>

    <label>Gender:</label><br>
    <input type="radio" id="male" name="gender" value="male" required >
    <label for="male">Male</label>
    <input type="radio" id="female" name="gender" value="female" required >
    <label for="female">Female</label><br><br>

    <label for="city">City:</label><br>
    <select id="city" name="city" required>
        <option>CHN</option>
        <option>DEL</option>
        <option>HYD</option>
        <option>BGL</option>
        <option>MUM</option>
        <option>KOL</option>
        <option>PUN</option>
    </select><br><br>

    <label for="state">State:</label><br>
     <select id="state" name="state" required>
            <option value="TN">TAMIL NADU</option>
            <option value="AP">ANDHRA PRADESH</option>
            <option value="AR">ARUNACHAL PRADESH</option>
            <option value="AS">ASSAM</option>
            <option value="BR">BIHAR</option>
            <option value="CG">CHHATTISGARH</option>
            <option value="GA">GOA</option>
            <option value="GJ">GUJARAT</option>
            <option value="HR">HARYANA</option>
            <option value="HP">HIMACHAL PRADESH</option>
        </select><br><br>

    <label>Country:</label><br>
    <input type="radio" id="indian" name="country" value="Indian" required >
    <label for="indian">Indian</label>
    <input type="radio" id="nri" name="country" value="NRI" required >
    <label for="nri">NRI</label><br><br>

    <input type="submit" name="btn" id="submitButton" style="cursor: pointer"/>

</form>
</div>

<div align="center">{{value}}</div>

<script>
// Get the form element
const form = document.getElementById('myForm');

// Add an event listener to the form
form.addEventListener('keydown', function(event) {
    // Check if the pressed key is Enter
    if (event.key === 'Enter') {
        // Prevent the default action
        event.preventDefault();
        // Trigger the submit button click
        document.getElementById('submitButton').click();
    }
});
</script>
</body>
</html>